.DropdownMenuContent {
  margin: 10px 20px 0 0;
  background-color: white;
  border-radius: 6px;
  padding: 8px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.DropdownMenuItem {
  font-size: 16px;
  line-height: 1;
  color: #000;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 20px 8px;
  position: relative;
  user-select: none;
  outline: none;
  cursor: pointer;
}

.DropdownMenuItem:hover {
  background-color: #f1efef;
}

.DropdownMenuSeparator {
  height: 1px;
  background-color: #c7c7c7;
  margin-block: 5px;
}